#Banner {
  background-origin: border-box;
  background-position: 0 55%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
  h1 {
    font-family: 'Black Chancery', cursive;
  }
}